<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie monster</title>
</head>
<body>
    <img src="https://i.pinimg.com/originals/29/cf/fa/29cffa64267156c38a4737202cce45f4.gif" style="width: 100%;">
    <p><%= data.headers %></p>
    <p>Your IP address: <%= data.ip %></p>
    <p>The continent you are in: <%= data.continent %></p>
    <p>The country you are in: <%= data.country %></p>
    <p>Your timezone: <%= data.timezone %></p>
    <p>The City you are in <%= data.city %></p>
    <p>Your nearest identified PIN: <%= data.pin %></p>
    <p>Your Service Provider: <%= data.isp %></p>
    <p><%= data.ispFull %></p>
    <p class="memory"></p>
<br> <center><div style="text-align: center;"> &copy; ujjwal-kr</div></center>
<script src="./client.js"></script>
</body>
</html>